<h1 class="title">Welcom to my speed typing game!!!</h1>
<h1 class="title"> Parole corrette {{ counter }} </h1>
<div class="gioco">
    <div class="container">
        <ng-container *ngIf="posts.length !== 0">
            <ng-container *ngFor="let words of quote.split(' ')">
                <span> {{ words }}</span>
            </ng-container>
        </ng-container>
        <textarea class="quote-input" id="quoteInput" #quoteInput></textarea>
        <button (click)="onStart()" class="btn btn-primary">Start</button>
    </div>
</div>